// This icon file is generated automatically.

import { useMetadata } from '@builder.io/mitosis';
import type IconProps from '../models/icon.model';

export default function <%= identifier %>(props: IconProps) {
  return (
    <span role="img" aria-label="${ name }">
      <%= content %>
    </span>
  );
}
